*{
    margin: 0;
    padding: 0;
}
html, body {
    height:100%
}

#container {
    min-height:100%;
}

/*-----------------header-------------*/
header{
    background: rgba(0, 0, 0, 0.5);
    height: 10vh;
    background-size:cover;
    background-position:center;
}

.main-nav
{
    float:right;
    list-style: none;
    margin-top:30px;
}

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: white;
    text-decoration:none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.main-nav li.active a
{
    border: 1px solid white;
}

.main-nav li a:hover
{
    border: 1px solid white;
}

.logo img
{
    width: 400px;
    height:auto;
    float:left;
}

body
{
    font-family: monospace;
}

.row
{
    max-width: 1200 px;
    margin:auto;
}

/*--------------------body-------------------*/
#main{
    overflow: auto;
    background: rgba(0, 0, 0,0.1);
    padding-bottom: 500px;

}
#Div1{
    width: 200px;
    height: 200px;
    background-color: #fff;
    float: left;
    margin-top: 200px;

}

#Div2{
    width: 200px;
    height: 200px;
    background-color: red;
    float: left;
    margin-top: 200px;
    margin-left: 10px;
}

#Div3{
    width: 200px;
    height: 200px;
    background-color: black;
    float: left;
    margin-top: 200px;
    margin-left: 10px;
}

#Div4{
    width: 200px;
    height: 200px;
    background-color: pink;
    float: left;
    margin-top: 410px;
    margin-left: -620px;
}

#Div5{
    width: 200px;
    height: 200px;
    background-color: orange;
    float: left;
    margin-top: 410px;
    margin-left: -410px;
}

#Div6{
    width: 200px;
    height: 200px;
    background-color: green;
    float: left;
    margin-top: 410px;
    margin-left: -200px;
}

body{
    background: url(../img/space.jpeg);
    background-position:center;
    font-family:sans-serif;
}

/*--------------------login-------------------*/
.loginbox{
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0,0.8);
    color: #fff;
    top: 50%;
    left:50%;
    position: absolute;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width:100px;
    height:100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin:0;
    padding: 0 0 20px;
    text-align:center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline:none;
    height: 40px;
    color: #fff;
    font-size:16px;
}

.loginbox input[type="submit"]
{
    border:none;
    outline:none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color:#000;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.loginbox a:hover{
    color: #ffc107;
    
}

/*--------------------contact-------------------*/
.contactbox{
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0,0.8);
    color: #fff;
    top: 50%;
    left:50%;
    position: absolute;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width:100px;
    height:100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin:0;
    padding: 0 0 20px;
    text-align:center;
    font-size: 22px;
}

.contactbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.contactbox input{
    width: 100%;
    margin-bottom: 20px;
}

.contactbox input[type="text"], input[type="password"]
{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline:none;
    height: 40px;
    color: #fff;
    font-size:16px;
}

.contactbox input[type="submit"]
{
    border:none;
    outline:none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.contactbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color:#000;
}

.contactbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.contactbox a:hover{
    color: #ffc107;
    
}

/*--------------------register-------------------*/
.registerbox{
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0,0.8);
    color: #fff;
    top: 50%;
    left:50%;
    position: absolute;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width:100px;
    height:100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin:0;
    padding: 0 0 20px;
    text-align:center;
    font-size: 22px;
}

.registerbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.registerbox input{
    width: 100%;
    margin-bottom: 20px;
}



.registerbox input[type="mail"], input[type="text"], input[type="password"]
{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline:none;
    height: 40px;
    color: #fff;
    font-size:16px;
}

.registerbox input[type="submit"]
{
    border:none;
    outline:none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.registerbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color:#000;
}

.registerbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.registerbox a:hover{
    color: #ffc107;
    
}

/*-----------------------footer-----------------*/
footer{
    height:100px;
    color:#fff;
    background: rgba(0, 0, 0,0.8);
    text-align: center;
    position: relative;
    margin-top:-100px;
}
.main-nav1
{
    float:center;
    list-style: none;
    margin-top:60px;
}

.main-nav1 li
{
    display: inline-block;
    padding-top: 20px
}

.main-nav1 li a
{
    color: white;
    text-decoration:none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.main-nav1 li.active a
{
    border: 1px solid white;
}

.main-nav1 li a:hover
{
    border: 1px solid white;
}

body
{
    font-family: monospace;
}

.row1
{
    max-width: 1200 px;
    margin:auto;
}

.column1
{
    float:left;
    padding: 5px;
    margin-left: 45%;
    margin-top: 22px;
}

.column2
{
    float:left;
    padding: 1px;
    margin-top: 20px;
}

.column3
{
    float:left;
    margin-left: 5px;
    margin-top: 26px;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}
/*------------------------myaccount---------------------*/
.myaccountbox{
    width: 320px;
    height: 520px;
    background: rgba(0, 0, 0,0.8);
    color: #fff;
    top: 50%;
    left:50%;
    position: absolute;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

h1{
    margin:0;
    padding: 0 0 20px;
    text-align:center;
    font-size: 22px;
}

.myaccountbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.myaccountbox input{
    width: 100%;
    margin-bottom: 20px;
}



.myaccountbox input[type="mail"], input[type="text"], input[type="password"]
{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline:none;
    height: 40px;
    color: #fff;
    font-size:16px;
}

.myaccountbox input[type="submit"]
{
    border:none;
    outline:none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.myaccountbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color:#000;
}

.myaccountbox a
{
    width: 100%;
    border:none;
    border-bottom: none;
    outline:none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.myaccountbox button{
    border:none;
    width: 100%;
    margin-bottom: 20px;
    outline:none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px; 
}