* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    display: inline-block;
    /* float: left; */
}

.window {
    overflow: hidden;
    position: relative;
     width: 25000px;
    height: 143px;
    right: 0px;
}

.wraper {
    position: relative;
    margin: auto;
    margin-top: 250px;
    width: 408px;
    overflow-x: hidden;
    overflow-y: hidden;
    border: 4px solid #1a96b7;
    border-radius: 2px;
}

.list {
    position: relative;
    margin-left: 230;
    display: inline-block;
}

.list li {
border: 4px solid #fff ;
margin: 0;
padding: 0;
}
.list li img {
    width: 130px;
    height: 130px;
    margin: 0;
    padding: 0;
}

.list li div {
    width: 130px;
    height: 130px;
    margin: 0;
    padding: 0;
}



.arrowup {
    position: absolute;
    bottom: 0;
    right: 200px;
    z-index: 1;
    width: 0;
    height: 0;
    border-bottom: 20px solid #1a96bf;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.arrowdown {
    position: absolute;
    top: 0;
    right: 200px;
    z-index: 1;
    width: 0;
    height: 0;
    border-top: 20px solid #1a96bf;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.tshirt-cell {
    display: table-cell;
    vertical-align: middle;
}

.tshirt-container {
    display:inline-table;
    color: #fff;
    text-align:center;
}
