*{
    margin:0;
    padding:0;
  }
  
  body{
    margin:0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size:17px;
    color:#ffffff;
    line-height:1.6;
  }
  
  #showcase{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('../img/background.jpg');
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
  }
  
  #showcase h1{
    font-size:50px;
    line-height:1.2;
  }
  
  #showcase p{
    font-size:20px;
  }
  
  #showcase .button1{
    font-size:18px;
    text-decoration:none;
    color:#ffffff;
    border:#ffffff 1px solid;
    padding:10px 20px;
    border-radius:10px;
    
  }

  #showcase .button2{
    font-size:18px;
    text-decoration:none;
    color:#ffffff;
    border:#ffffff 1px solid;
    padding:10px 20px;
    border-radius:10px;

  }
  
  #showcase .button1:hover{
    background:#ffffff;
    color:rgb(0, 0, 0);
  }

  #showcase .button2:hover{
    background:#ffffff;
    color:rgb(0, 0, 0);
  }