@import helper._
@import play.data._

@(placeForm: Form[Place], isLoggedIn: Boolean, userInfo: UserInfo)
@implicitFieldConstructor = @{ b4.horizontal.fieldConstructor("col-md-2", "col-md-5") }

@main("Place form", isLoggedIn, userInfo) {
    <script>
        function del(url) {
            $.ajax({
                url: url, 
                type: 'DELETE',
                success: function (response) {
                    console.log(response)
                    location.replace(response)
                },
                error: function (err) {
                    console.log(err)
                }
            })
        }
    </script>

    <h1>Place edit form</h1>

    @helper.form(action = routes.PlaceController.save(), 'enctype -> "multipart/form-data", 'class -> "form-group") {
        @helper.CSRF.formField
        <fieldset>
            <legend id="horizontal-form" class="page-header">
             @placeForm("name").getValue().orElse("New place")
            </legend>
            <input type="hidden" value="@placeForm("id").getValue().orElse("")" name="id" />
            @b4.text(placeForm("name"), '_label -> "Name", '_placeholder -> "Name of the place")
            @b4.text(placeForm("country"), '_label -> "Country", '_placeholder -> "Country")
            @b4.text(placeForm("location"), '_label -> "Location", '_placeholder -> "Location (address, coordinates, reference point etc.)")
            @b4.text(placeForm("description"), '_label -> "Description", '_placeholder -> "Your description of the place")
        </fieldset>
        @b4.free('_id -> "idPlaceGroup") {
            <button type="submit" class="btn btn-info"><i class="fas fa-save"></i> Save</button>
            <a class="btn btn-secondary" href="@routes.PlaceController.places()">Cancel</a>

            @if((placeForm("id").getValue().isPresent())) {
                <a class="btn btn-danger d-inline-block float-right text-light" onclick="javascript:del('@routes.PlaceController.delete(Long.parseLong(placeForm("id").getValue().get()))')"><i class="fas fa-trash-alt"></i></a>
            }
        }
    }
}