@(chest: Chest, isLoggedIn: Boolean, userInfo: UserInfo)

@main("Bundle 1", isLoggedIn, userInfo) {
    <div class="box">
        <h1>@chest.name</h1>
        <p>Description:<br>@chest.description</p>
        <br>
        <p>Price: @chest.price USD</p>
        <br>
        <p>Contents:</p><br>
        <ul>
        @for(tshirt <- chest.tShirts) {
            <li>@tshirt.name</li>
        }
        </ul>
        <button><a href="@routes.GambleController.openChest(chest)">Test your luck!</a></button>
    </div>
}