@()
<footer id="footer">
    <div class="row1">
        <ul class="main-nav1">
            <!--<li><a href="@routes.HomeController.index()">Home</a></li>
            <li><a href="@routes.HomeController.contact()">Contact</a></li>
            -->
            <div class="column1"><a href="https://www.facebook.com/Space-Whales-380265129160508/"><img src=@routes.Assets.at("img/fb-icon.png") width="30" height="30"></a></div>
            <div class="column2"><a href="@routes.HomeController.contact()"><img src=@routes.Assets.at("img/mail-icon.png") width="40" height="40"></a></div>
            <div class="column3"><a href="https://www.instagram.com/spacewhalescompany/"><img src=@routes.Assets.at("img/insta-icon.png") width="30" height="30"></a></div>
        </ul>
    </div>            
</footer>