@*************************
 Simple Login template.
 
 Takes a reverse route, the email field, and the password field from a form. 
 If form validation fails, then the fields will have Twitter Bootstrap error highlighting.
 Clients should set the "error" key in flash scope to provide feedback on errors. 
**************************@

@(reverseRoute: play.api.mvc.Call, emailField: Field, passwordField: Field)

<img src="@routes.Assets.at("img/avatar.png")" class="avatar">
<h1>Login</h1>
@helper.form(reverseRoute, 'role -> "form") {
  <form>
    <input type="text" value="@emailField.value.getOrElse("")" id="@emailField.id" name="@emailField.name" placeholder="Email">
    <input type="password" id="@passwordField.id" name="@passwordField.name" value="@passwordField.value.getOrElse("")" placeholder="Password">
    <input type="submit" value="Login">
    <a href="#">Forgot your password?</a><br>
    <a href="@routes.HomeController.register()">Don't have account?</a>
  </form>
}