@(chest: Chest, isLoggedIn: Boolean, userInfo: UserInfo)

@main("Open chest", isLoggedIn, userInfo) {
    <link href="@routes.Assets.at("stylesheets/roulette.css")" rel="stylesheet">
    <script src="@routes.Assets.at("javascripts/roulette.js")" type="text/javascript"></script>
    <div id="roulette" class="wraper">
        <div class="arrowup"></div>
        <div class="arrowdown"></div>
        <div class="window">
            <ul class="list">
                <p style="color:white;margin-top:60px;margin-left: 60px;">Click the 'Play' button to start</p>
            </ul>
        </div>
    </div>
    <p style="text-align: center">
        <button id="test" data-url="@routes.GambleController.roulette(chest)">Play</button>
    </p>
}